.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 90%;
  width: 400px;
  margin-bottom: 20px;
}

form button {
  border-radius: 30px;
  background-color: #8b8ae1;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

form button:hover {
  opacity: 0.8;
}

form input {
  border: 1px solid #48456c;
  border-radius: 30px;
  height: 40px;
  background-color: #363653;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  max-width: 90%;
  width: 400px;
  border-radius: 10px;
}

.card p {
  color: #fff;
  font-weight: bold;
}

.card p span {
  font-weight: normal;
}

.card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card button:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .card {
    flex-direction: row;
  }
}